.descriptor {
  grid-column: 1;
  color: green;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
}

.userName {
  grid-column: 2;
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
}
.userAge {
  grid-column: 3;
  color: blue;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
}

.button {
  grid-column: 4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: blue;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns */
  grid-gap: 20px; /* space between columns */
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
}
